#   S3
S3_PRESIGNED_URL_EXPIRATION=number
S3_REGION=region
S3_BUCKET=bucket_name

#   Auth0
AUTH0_DOMAIN={name}.{region}.auth0.com
AUTH0_AUDIENCE=https://{name}.{region}.auth0.com/api/v2/

#   Spotify
SPOTIFY_CLIENT_ID=id
SPOTIFY_CLIENT_SECRET=secret

#   Slack
SLACK_INCOMING_WEBHOOK_URL_GENERAL=https://hooks.slack.com/services/{url}
SLACK_INCOMING_WEBHOOK_URL_ERROR=https://hooks.slack.com/services/{url}