engine-strict=true # fails install if engine from package.json does not match -> but can still be overriden by doing a --force in ur cli cmd.
ignore-scripts=true # does not run install time scripts like pre/post and more ?
